              <div class="box box-info">
                <div class="box-body">
                  <label>Top Trending: </label>
                  <button type="button" class="btn bg-maroon margin">Trump</button>
                  <button type="button" class="btn bg-purple margin">Kardashian</button>
                  <button type="button" class="btn bg-navy margin">Taylor Swift</button>
                  <button type="button" class="btn bg-orange margin">Oprah</button>
                  <button type="button" class="btn bg-olive margin">Jordan</button>
                  <button type="button" class="btn bg-maroon margin">Jay Z</button>
                  <button type="button" class="btn bg-purple margin">Beyonce</button>
                  <button type="button" class="btn bg-navy margin">Jason Bourne</button>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
