<input type="hidden" value="" id="copy-clipboard-data-hidden">

<!-- ************ DO NOT DELETE THIS INPUT ************ -->
<input type="hidden" value="<%= userData.uid %>" id="user_logged_in_id">
<!-- ************ DO NOT DELETE THIS INPUT ************ -->

<a href="#" class = "open-message-window" data-toggle="modal" data-target="#default-basic-modal"><i class="fa fa-gears"></i></a>
<div class="modal fade" id="default-basic-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Remote Message</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


