
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= userData.signature %>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= userData.name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Add Content</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/front-page"><i class="fa fa-circle-o"></i> Curation Tool</a></li>
            <li class="active"><a href="/node/add/article"><i class="fa fa-circle-o"></i> Article</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Breaking News</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Byline</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Card</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Curated List</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Front Page</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Slideshow</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-files-o"></i> <span>Media</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Add User</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Expired Account</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Permission</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Configurations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Performance</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Import MPX</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Image Toolkit</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>System</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Cron Jobs</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Widget Configurations</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Rabbit Configurations</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>NOS Tools</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" class = "send-release-alert"><i class="fa fa-circle-o"></i> Send Release Alert !</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Site Health</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>

        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">Service Status</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Remote URL NOT working</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Rabbit Not Reachable</span></a></li>

      </ul>

<!--
             <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                NEWS CMS Release Scheduled Tonight 12am EST.
              </div>
-->



    </section>
    <!-- /.sidebar -->
  </aside>
